<template>
    <div class="container">


        <h1>Products
            <small>You can update values on the fly</small>
        </h1>
        <hr />

        <div class="row">
            <div class="col-4">
                <h4>Name</h4>
            </div>
            <div class="col-3">
                <h4>Quantity</h4>
            </div>
            <div class="col-3">
                <h4>Unit Price</h4>
            </div>
            <div class="col-1 text-center">
                <h4>Subtotal</h4>
            </div>
            <div class="col-1"></div>
        </div>

        <product-component
                v-for="product in products"
                v-bind="product"
                :key="product.id"
                @update="update"
                @delete="del"
        ></product-component>


        <hr />
        <div class="row">
            <div class="col-4"></div>
            <div class="col-3"></div>
            <div class="col-3 text-right"><h4>Total</h4></div>
            <div class="col-1 text-center"><h4>{{total}}</h4></div>

        </div>
        <hr />

        <div class="row">
            <div class="col-4">
                <input type="text" v-model="name" class="form-control" placeholder="Enter new product name">
            </div>
            <div class="col-3">
                <input type="number" v-model="quantity" class="form-control" placeholder="Enter new product quantity">
            </div>
            <div class="col-3">
                <input type="number" v-model="unit_price" class="form-control" placeholder="Enter new product unit price">
            </div>
            <div class="col-1">
            </div>
            <div class="col-1">
                <button @click="create" class="btn btn-success">Create</button>
            </div>
        </div>

    </div>

</template>

<script>
    function Product({ id, name, quantity,unit_price,total,created_at,updated_at}) {
        this.id = id;
        this.name = name;
        this.quantity = quantity;
        this.unit_price = unit_price;
        this.total = total;
        this.created_at = created_at;
        this.updated_at = updated_at;
    }

    import ProductComponent from './ProductComponent.vue';

    export default {
        name: "AppComponent",
        data() {
            return {
                products: [],
                name: null,
                quantity: null,
                unit_price: null

            }
        },
        methods: {
            create() {

                let new_product = {
                    name: this.name,
                    quantity: this.quantity,
                    unit_price: this.unit_price,
                };

                window.axios.post('/api/product',new_product).then(({ data }) => {
                    this.products.push(new Product(data));
                    this.name=null;
                    this.quantity=null;
                    this.unit_price=null;
                });
            },
            read() {
                window.axios.get('/api/product').then(({ data }) => {
                    data.forEach(product => {
                        this.products.push(new Product(product));
                    });
                });
            },
            update(id, product) {
                window.axios.put(`/api/product/${id}`, product).then((response) => {

                    // Updating product values
                    let updating = this.products.find(product => product.id === id);

                    updating.name = response.data.name;
                    updating.quantity = response.data.quantity;
                    updating.unit_price = response.data.unit_price;
                    updating.total = response.data.total;
                    updating.updated_at = response.data.updated_at;

                });
            },
            del(id) {
                window.axios.delete(`/api/product/${id}`).then(() => {
                    let index = this.products.findIndex(product => product.id === id);
                    this.products.splice(index, 1);
                });
            }
        },
        components: {
            ProductComponent
        },
        created() {
            this.read();
        },
        computed:{
            total: function(){
                return this.products.reduce(function(sum,item){
                    sum += item.total;
                    return sum;
                },0);
            }
        }

    }
</script>

<style scoped>

</style>