<template>

    <div class="row">
        <div class="col-4">
            <input type="text" v-model="name_value" class="form-control" @change="update">
        </div>
        <div class="col-3">
            <input type="number" v-model="quantity_value" class="form-control" @change="update">
        </div>
        <div class="col-3">
            <input type="number" v-model="unit_price_value" class="form-control" @change="update">
        </div>
        <div class="col-1 text-center">
            {{total}}
        </div>
        <div class="col-1">
            <button @click="del" class="btn btn-danger">Delete</button>
        </div>
    </div>
</template>

<script>
    export default {
        name: "ProductComponent",
        props: ['id',  'name','quantity','unit_price','total','created_at','updated_at'],
        data () {
            return {
                name_value: this.name,
                quantity_value: this.quantity,
                unit_price_value: this.unit_price,
            }
        },
        methods: {
            update() {
                this.$emit('update', this.id, {name: this.name_value, quantity: this.quantity_value, unit_price: this.unit_price_value});
            },
            del() {
                this.$emit('delete', this.id);
            }
        },
        filters: {
            properCase(string) {
                return string.charAt(0).toUpperCase() + string.slice(1);
            }
        }
    }
</script>

<style scoped>

</style>